$body : #011327 !default;
$banniere : #034945 !default;
$section : #01273b !default;
$span : #01e9ad !default;
$para : #034d4a !default;
$footer : #826db3 !default;
$border : #01e9ad !default;
$link : $border !default;
h1, h2{
    color: white;
}

body{
    background-color: $body;
}
.banniere{
    background-color: $banniere;
}
.statSpan{
    color: $span;
    font-weight: bolder;
    font-size: 1.2rem;
}

.statsPlayer{
    background-color: $section;
}
p{
    color: $para;
    font-weight: bold;
}
img{
    margin-bottom: 20px;
    border: 3px solid #01e9ad;
}
footer{
    background-color: $footer;
    padding: 50px;
    margin-top: 50px;
}
.playerCard{  
    border: 3px solid $border;
  }
a{
    color: $link;
    text-decoration: none;
}
